[Unit]
Description=Flask app service
After=network.target

[Service]
WorkingDirectory=/home/schepanov/Course_work_3
ExecStart=/home/schepanov/Course_work_3/venv/bin/python main.py

[Install]
WantedBy=multi-user.target